.container {
  display: flex;
  flex-flow: row wrap;
  padding: 0.5rem;
}

.type-container {
  display: flex;
  flex-flow: column wrap;
  flex: 1 0 auto;
  padding: 0.5rem;
}

.type-table {
  display: flex;
  flex-flow: column wrap;
  flex: 1 0 auto;
}

.type-table-entry {
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 auto;
}

.type-icon {
  flex: 0 0 auto;
}

.type-name {
  flex: 0 0 auto;
}

h1,
h2 {
  max-width: 100%;
}

h2 {
  font-size: 1.25rem;
}
